body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3F5EFB;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}
.container{
    width: 400px;
    background: transparent;
    backdrop-filter: blur(30px);
    margin-top: 300px;
    padding: 20px;
    border-radius: 10px;
    height: 300px;
    box-shadow: 5px 5px 10px 0px cyan;
    border: solid white 2px;
}
.container h1{
    text-align: center;
    color: white;
}
.input-text{
    text-align: center;
    padding: 5px;
}
.input-text input{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background: transparent;
    outline: none;
    color: aliceblue;
    font-size: 16px;
    border: solid 2px white;
}
.input-text input::placeholder{
    color: wheat;
}
.container .login-btn{
    width: 100%;
    border-radius: 20px;
    height: 40px;
    padding: 5px 10px;
    cursor: pointer;
}
.input-text a{
    color: black;
}